body{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    width:100%;
    height: 100vh;
    color:white;
    font-family: 'PT Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li{
    margin: 0;
}

ul, li{
    list-style: none;
}

.header,
.footer{
    background-color: #202846;
}

.header{
    padding-left: 138px;
}
.menu{
    display: flex;
    margin: 20px 0;
    align-items: center; 
}

.menu li{
    padding: 10px;
    width: 180px;
    text-align: center;
}

.planet{
    display:flex;
    align-items: center;
}

.planet img{
    background-color: red;
}

.planet a{
    padding-left: 30px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.nav a{
    text-decoration: none;
    color: white;
    padding-right: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    line-height: 31.06px;
    font-weight: 700;
}


.logo{
    border-radius: 45px;
   display: inline;
}

.footer{
    padding: 21px 0 22px 120px;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
}

.box{
    background-color:#C6C6DC;
    padding: 46px 0 46px 227px;
}

.block{
   width: 1573px;
   margin: 0 auto;
   padding: 30px 0;
}

.box h2{
    font-size: 48px;
    line-height: 62px;
    font-size: 400;
    font-style: italic;
    color: #202846;
}


.img-text{
    text-align: center;
    color: #fff;
    position: absolute;
    top:300px;
    left: 350px;
    margin: 0 80px;
}

.img-text h2{
    font-size: 48px;
    font-weight: 700;
}

.img-text p{
    font-size: 36px;
    font-weight: 700;
    font-style: italic; 
}

.fone-text{
    background-color: #CBCBCB;
    padding: 50px 74px 0 74px;
    margin-top: 30px;
}

.fone-text p{
    color: #202846;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 50px;
    line-height: 38.82px;
}
    
.image-fone{
    position: relative;
}